[submodule "submodules/src/github.com/gordonklaus/portaudio"]
	path = submodules/src/github.com/gordonklaus/portaudio
	url = https://github.com/gordonklaus/portaudio
[submodule "submodules/src/github.com/mkb218/gosndfile"]
	path = submodules/src/github.com/mkb218/gosndfile
	url = https://github.com/mkb218/gosndfile/
[submodule "submodules/src/github.com/bobertlo/go-mpg123"]
	path = submodules/src/github.com/bobertlo/go-mpg123
	url = https://github.com/bobertlo/go-mpg123
[submodule "submodules/src/github.com/talmai-random/portmidi"]
	path = submodules/src/github.com/talmai-random/portmidi
	url = https://github.com/talmai-random/portmidi
